#main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 100vh;
}
#q-container {
  background-color: var(--palette-03);
  border-radius: var(--border-radius-4);
}
